git
autoconf
automake
libtool
make
gawk
libreadline-dev
texinfo
dejagnu
build-essential
fakeroot
devscripts
equivs
lintian
dpatch
quilt
libncurses5-dev
texlive-latex-base
libcap-dev
texlive-generic-recommended
imagemagick
ghostscript
groff
hardening-wrapper
libpcre3-dev
chrpath
libpam0g-dev
python2.7
python2.7-dev
pkg-config
libzmq3-dev
python-pip
python-zmq
cython
git-buildpackage
python-all
docbook-xsl
docbook-xml
xsltproc
dh-autoreconf
