Source: opnfv-quagga
Section: net
Priority: optional
Maintainer: Martin Winter <mwinter@netdef.org>
XSBC-Original-Maintainer: Christian Hammers <ch@debian.org>
Uploaders: Martin Winter <mwinter@netdef.org>
Build-Depends: debhelper (>= 7.0.50~), libncurses5-dev, libreadline-dev, texlive-latex-base, texlive-generic-recommended, libpam0g-dev | libpam-dev, libcap-dev, texinfo (>= 4.7), imagemagick, ghostscript, groff, po-debconf, autotools-dev, hardening-wrapper, libpcre3-dev, gawk, chrpath
Standards-Version: 3.9.5
Homepage: http://www.quagga.net/

Package: opnfv-quagga
Architecture: any
Depends: ${shlibs:Depends}, logrotate (>= 3.2-11), iproute, ${misc:Depends}, python2.7, python-zmq, libcapnp-0.5.99, python-pycapnp, python-thriftpy (>= 0.3.2+netdef)
Pre-Depends: adduser
Conflicts: zebra, zebra-pj, quagga
Replaces: zebra, zebra-pj, quagga
Suggests: snmpd
Description: BGP/OSPF/RIP/ISIS/PIM routing daemon
 GNU Quagga is free software which manages TCP/IP based routing protocols.
 It supports BGP4, BGP4+, OSPFv2, OSPFv3, IS-IS, RIPv1, RIPv2, RIPng and 
 PIM as well as the IPv6 versions of these.
 .
 As the precessor Zebra has been considered orphaned, the Quagga project
 has been formed by members of the zebra mailing list and the former
 zebra-pj project to continue developing.
 .
 Quagga uses threading if the kernel supports it, but can also run on
 kernels that do not support threading. Each protocol has its own daemon.
 .
 It is more than a routed replacement, it can be used as a Route Server and
 a Route Reflector.

Package: opnfv-quagga-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, opnfv-quagga (= ${binary:Version})
Priority: extra
Section: debug
Description: BGP/OSPF/RIP/ISIS/PIM routing daemon (debug symbols)
 This package provides debugging symbols for all binary packages built from 
 quagga source package. It's highly recommended to have this package installed
 before reporting any Quagga crashes to either Quagga developers or Debian
 package maintainers.

Package: opnfv-quagga-doc
Section: net
Architecture: all
Depends: ${misc:Depends}
Suggests: opnfv-quagga
Description: documentation files for opnfv-quagga
 This package includes info files for quagga, a free software which manages
 TCP/IP based routing protocols.  It supports BGP4, BGP4+, OSPFv2, OSPFv3,
 IS-IS, RIPv1, RIPv2, RIPng and PIM as well as the IPv6 versions of these.
